.FormSection {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #F0F0F0;
  padding: 15px;  
}
h4{
  text-transform: capitalize;
}
.btn{
  text-transform: capitalize;
}
.error {
  border: #e43444 1px solid;
}